.search-box {
    position: relative;
    width: 100%;
    padding-right: 2rem;

    &:after {
        content: "";
        position: absolute;
        right: 5px;
        width: 1.6rem;
        margin: 0 0.2rem;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOCIgaGVpZ2h0PSIzOCIgdmlld0JveD0iMCAwIDM4IDM4Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMjQuNjI4MTE0MywyNC41MzYzMTQzIEMyNy4yMDcsMjEuOTM0Mjg1NyAyOC44LDE4LjM1MzA1NzEgMjguOCwxNC40IEMyOC44LDYuNDQ3MTExNDMgMjIuMzUyOTE0MywwIDE0LjQsMCBDNi40NDcxMTE0MywwIDAsNi40NDcxMTE0MyAwLDE0LjQgQzAsMjIuMzUyOTE0MyA2LjQ0NzExMTQzLDI4LjggMTQuNCwyOC44IEMxOC4zOTk4NTcxLDI4LjggMjIuMDE4NjI4NiwyNy4xNjkyIDI0LjYyODExNDMsMjQuNTM2MzE0MyBaIE0yNC42MjgxMTQzLDI0LjUzNjMxNDMgTDM2LDM2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIi8+PC9zdmc+") right center transparent;
        background-size: contain;
        background-repeat: no-repeat;
        height: 70%;
        top: 15%;
        opacity: 0.3;
    }


    >input {
        width: 100%;
        padding: 0.3rem 0.5rem;
        background-color: transparent;
    }

    .live-search-values {
        display: none;
        background: #fff;
        z-index: 9;
        border: 1px solid #d1d1d1;
        margin-top: -2px;
        border-top: 0;
        position: absolute;
        border-radius: 0 0 3px 3px;
        max-height: 400px;
        overflow: auto;
        padding: 0;
        left: -1px;
        right: -1px;

        >li {
            display: flex;
            padding: 0.3rem 0.5rem;
            border-bottom: 1px solid #d1d1d173;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #f9fafb;
            }

            >img {
                width: 60px;
                border-radius: 50%;
                margin-bottom: 0;
                margin-right: 0.5rem;
                background-color: #f9fafb;
            }

            span {
                display: block;

                &.label {
                    font-weight: 500;
                }

                &.description{
                    opacity: 0.5;
                }
            }

            &.group-title {
                font-weight: 500;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
            }

            .description {
                font-size: 0.9rem;
            }

            &:last-child {
                border: 0;
            }

            &.item-end {
                text-align: center;
                background-color: #f9fafb;

                span {
                    display: block;
                    width: 100%;
                }
            }

            &.group-title {
                background-color: #f9fafb;
                cursor: default;
            }
        }
    }

    &.visible {
        .live-search-values {
            display: block;
        }
    }

}

.form-inline.doctors-search {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .search-group {
        flex: 1;
        margin-right: 2rem;
    }
}