.na-theme-blocks-row {
    &.row.alignfull {
        margin-left: 0;
        margin-right: 0;
    }
}

a.wp-block-background-text {
    display: flex;

    position: relative;

    .wp-block-background-image {
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 1rem;
    }

    .block-title {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }

    .block-topcontent {
        font-weight: bold;
        font-size: 1rem !important;
    }

    .block-bottomcontent {
        padding-top: 0.6rem;
        border-top: 1px solid #ffffff29;
    }
}

.wp-block-na-theme-blocks-accordion {
    background: #93939314;
    margin-bottom: 1rem;

    .block-title {
        padding: 1rem;
        margin: 0;  

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            right: 1rem;
            top: 50%;
            width: 1.2rem;
            height: 1px;
            background-color: #333;
        }

        &::after {
            content: "";
            position: absolute;
            right: 1.6rem;
            top: 50%;
            height: 1.2rem;
            width: 1px;
            background-color: #333;
            margin-top: -0.58rem;
            transition: all ease 0.3s;
        }
    }

    .block-content {
        max-height: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: all ease 0.3s;
        margin-bottom: 0;
    }

    &.open {
        .block-title:after {
            transform: rotate(90deg);
        }

        .block-content {
            max-height: 500px;
            overflow: auto;
            padding: 1rem;
        }
    }
}